{
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 80,
	"trailingComma": "none",
	"singleQuote": false,
	"semi": true,
	"importOrder": ["^~/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
