@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 40% 98.0392%;
		--foreground: 217.2414 32.5843% 17.451%;

		--card: 0 0% 100%;
		--card-foreground: 217.2414 32.5843% 17.451%;

		--popover: 0 0% 100%;
		--popover-foreground: 217.2414 32.5843% 17.451%;

		--primary: 234, 96%, 70%;
		--primary-foreground: 0 0% 100%;

		--secondary: 220 13.0435% 90.9804%;
		--secondary-foreground: 216.9231 19.1176% 26.6667%;

		--muted: 220 14.2857% 95.8824%;
		--muted-foreground: 220 8.9362% 46.0784%;

		--accent: 226.4516 100% 93.9216%;
		--accent-foreground: 216.9231 19.1176% 26.6667%;

		--destructive: 0 84.2365% 60.1961%;
		--destructive-foreground: 0 0% 100%;

		--border: 216 12.1951% 83.9216%;
		--input: 216 12.1951% 83.9216%;
		--ring: 238.7324 83.5294% 66.6667%;

		--radius: 0.5rem;
	}

	.dark:root {
		--background: 222.2222 47.3684% 11.1765%;
		--foreground: 214.2857 31.8182% 91.3725%;

		--card: 217.2414 32.5843% 17.451%;
		--card-foreground: 214.2857 31.8182% 91.3725%;

		--popover: 217.2414 32.5843% 17.451%;
		--popover-foreground: 214.2857 31.8182% 91.3725%;

		--primary: 221 83% 53%;
		--primary-foreground: 0 0% 100%;

		--secondary: 217.7778 23.0769% 22.9412%;
		--secondary-foreground: 216 12.1951% 83.9216%;

		--muted: 217.2414 32.5843% 17.451%;
		--muted-foreground: 217.8947 10.6145% 64.902%;

		--accent: 226 83% 82%;
		--accent-foreground: 216.9231 19.1176% 26.6667%;

		--destructive: 0 68% 59%;
		--destructive-foreground: 0 0% 100%;

		--border: 215 13.7931% 34.1176%;
		--input: 215 13.7931% 34.1176%;
		--ring: 234.4538 89.4737% 73.9216%;
	}
}
